PyGObject==3.42.2
RPi.gpio==0.7.1
colorzero==2.0
dbus-python==1.2.16
gpiozero==1.6.2
h3==3.7.2
hm-pyhelper==0.13.44
nmcli==1.1.2
protobuf==3.19.5
pycairo==1.23.0
requests==2.28.1
retry==0.9.2
sentry-sdk==1.12.1
