PyGObject==3.40.1
RPi.gpio==0.7.0
colorzero==2.0
dbus-python==1.2.16
gpiozero==1.6.2
h3==3.7.2
hm-pyhelper==0.13.10
nmcli==0.5.0
protobuf==3.19.3
pycairo==1.20.1
requests==2.26.0
retry==0.9.2
sentry-sdk==1.1.0
